body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.column {
    float: left;
    width: 50%;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.half-screen {
    width: "50%";
}

.title-class {
    background-color: rgb(5, 223, 223);
}

.textfield-normal {
    background-color: white;
}

.textfield-error {
    background-color: rgb(241, 192, 192);
}

.image-blurred-edge {
    width: 100%;
    height: auto;
    box-shadow: inset 0px 0px 8px 8px white;
}

.grassy {
    background-color: rgb(220, 243, 186);
}

.woody {
    background-color: rgb(197, 102, 62);
}